# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://<user>:<pass>@<domain>:<port>/<database>?schema=public"
SECRET_KEY=JWT-SECRET
PUBLIC_WEB_URL=<webdomain>
REFRESH_TOKEN=JWT-REFRESHTIME
CLOUDNARY_API_KEY=<cloudnary-respective-field>
CLOUDNARY_UPLOAD_PRESET=<cloudnary-respective-field>
CLOUDNARY_FOLDER=<cloudnary-respective-field>
CLOUDNARY_CLOUD_NAME=<cloudnary-respective-field>