# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Dependency directories
pids
logs
*.pid
*.log

# Optional: Editor directories
.idea/

# Optional: Output of 'npm run build'
/dist/

.env
